{
  "accounts": [
      {
          "name": "Assets:DKB:Giro",
          "handler": "dkb/giro",
          "ledger_file": "/ledgerfiles/assets-dkb.ledger",
	  "credentials": {
	      "iban": "DE12345678901234567890",
	      "username": "1234567890",
	      "password": "password"
	  },
	  "filters": [
              { "account_number": "DE1234567890234567890" }
          ]
      },
      {
          "name": "Assets:PayPal",
          "handler": "paypal",
          "ledger_file": "/ledgerfiles/assets-paypal.ledger",
	  "credentials": {
	      "username": "username",
	      "password": "password",
	      "certificate": "certificate",
	      "url": "https://api-3t.paypal.com/nvp"
	  },
	  "filters": [
	      { "type": "Authorization" },
	      { "paypal_name": "Credit Card" },
	      { "paypal_name": "Bank Account" },
	      { "paypal_name": "Bank Account (direct debit)" }
	  ]
      }
  ]
}
